@import url(../../../Build/Cesium/Widgets/widgets.css);

/* MOBILE STYLESHEET----------------------------------*/
    html,body, #cesiumContainer, #gameArea{
      width:100%;
      height:100%;
      margin:0px;
      padding:0px;
      font-family: Arial;
      font-size:1em;
      line-height:2em;
      overflow:hidden;
    }
    #isConnected{
      /*display:none;*/
    }
    #connect{
      position: absolute;
      left:50%;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
    }
    #wrapperPlayer{
    /*display: table-cell;*/
    font-size: .8em;
    width:100vw;
    height:100vh;  
    background-image: url('textures/background.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    overflow:hidden;
    }
    #myTurn{
      display:none;
      font.weight:.8em;
      position:absolute;
      float:both;
      padding:10px;
      bottom:0px;
      right:0px;
      border:2px solid-white;
      color:white;
      background-color:rgba(255,255,255,.2);
      text-align: center;
    }
    #containerPlayer{

    }
  .start{
    position: fixed;
    width:100%;
    max-height:100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .start img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:80%;
    max-height:80%;
  }
  .image{
    position:relative;
  }
  .text{
    color:white;
   position: absolute; 
   text-align: center;
   height:100%;
   top:45%;
   width: 100%; 
   z-index:4;
  }
  .button{
    background-color:white;
    background-color:rgba(255, 255, 255, .5);
    text-align:center;
    width: 200px;
    margin: auto;

  }

  #step00{

  }
  #step01{
    display:none;
  }
  #escapeZoom{
    position:fixed;
    top:10px;
    left:200px;
  }
  #northing{
    color:white;
    text-align: center;
    line-height: 0px;
    font-size:4em;
  }
  #angle{
    color:white;
    text-align: center;
    line-height: 0px;
    font-size:4em;
  }
  #force{
    color:white;
    text-align: center;
    line-height: 0px;
    font-size:4em;
  }
  #step02{
    display:none;
  }
  #step03{
    display:none;
  }
  #step04{
    display:none;
  }
  #dataContainerOrientation {
    display:none;
  }
  #dataContainerMotion{
    display:none;
  }
  .spin{
    -webkit-animation:spin 20s linear infinite;
    -moz-animation:spin 20s linear infinite;
    animation:spin 20s linear infinite;
  }
  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

  #elevationContainer{
    -webkit-perspective: 800px; /* Chrome, Safari, Opera  */
    -moz-perspective:800px;
    perspective: 800px;
  }
  #elevation{
  }
  .sliderWrapper{
    display:none;
  }
  .slider{
      position:absolute;
      height:100px;
      width:100px;
      background-color: rgba(0,0,255,.2);
      border-radius:100px;
      border:8px solid white;
      color:white;
      text-align:center;
      margin-left:-50px;
        left:50%;
    }
    #plus{
      top:50px;
    }
    #minus{
      bottom:50px;
    }

/*CESIUM STYLESHEET-----------------------------------*/
      #isConnected{
        /*display:none;*/
      }
      #connect{
        text-align: center;
        position: absolute;
        left:50%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); 
      }
      #gameOver{
        display:none;
        
      }
      #cesiumContainer{
      }
      .staticMap{
        position:absolute;
        background-color: white;
        z-index:1;
        right:20px;
        bottom:40px;
        width:300px;
        height:200px;
        padding:10px;
      }
      .infos{
        position:absolute;
        background-color: rgba(255, 255, 255, 0.3);
        z-index:2;
        color: white;8il
        font-weight: 30px;
        margin:10px;
        padding:10px;
      }
      .mapToShow img{
      }
      #force, #angle, #elevation, #score{
        float:right;
      }
